/*variables */
$azul:blue;
$negro:rgb(0,0,0);
$amarillo:yellow;
$rojo:red;

$primary: #8697A6;
$black: #8697A6;
$secondary: #8697A6;
$gray: #8697A6;

.colorNav{
    background-color: $primary;
}
.footer{
    background-color: $secondary;
}

body{
    background-color: rosybrown;   
}