.carousel{
    position: relative;
    left: 400px;
    width: 500px;
  }

.encabezadoIndex{
    position: relative;
    left: 400px;
}  

.serviciosTitulo{
    position: relative;
    left: 250px;
  }

.imgServicios{
  width: 500px;
}